packages: .
          deps/what4/what4
          deps/what4-serialize
          deps/bv-sized-float
          deps/softfloat-hs
          deps/llvm-pretty
          deps/dismantle/dismantle-tablegen
          deps/dismantle/dismantle-ppc
          deps/dismantle/dismantle-arm-xml
          deps/crucible/crucible
          deps/crucible/crucible-symio
          deps/crucible/crucible-llvm
          deps/grift/grift
          deps/arm-asl-parser
          deps/asl-translator
          deps/semmc/semmc
          deps/semmc/semmc-ppc
          deps/semmc/semmc-aarch32
          deps/semmc/semmc-synthesis
          deps/semmc/semmc-learning
          deps/macaw-loader/macaw-loader
          deps/macaw-loader/macaw-loader-ppc
          deps/macaw-loader/macaw-loader-aarch32
          deps/macaw-loader/macaw-loader-x86
          deps/macaw/base
          deps/macaw/macaw-semmc
          deps/macaw/symbolic
          deps/macaw/x86
          deps/macaw/macaw-ppc
          deps/macaw/macaw-aarch32
          deps/macaw/macaw-riscv
          deps/husk-scheme
          deps/elf-edit
          deps/dwarf
          deps/flexdis86
          deps/flexdis86/binary-symbols
